@import '../../styles/abstracts/_variables';
@import '../../styles/components/buttons.scss';

/* DEFAULT CSS */
* {
    font-size: $primaryFontSize;
    outline: none;
}

.hide {
    display: none !important;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding-left: 0;
}

.section-title {
    font-size: 40px;
    color: $textBlue;
    margin: 0;
    text-align: center;
}

section {
    max-width: 1920px;

    &--blue {
        background-color: $primaryBlue;
    }
}

.section {

    &__header {

        &--divider {

            &::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                width: 80px;
                height: 4px;
                background-color: #ccc;
                border-radius: 5px;
            }
        }
    }

    &--blue {
        background-color: $primaryBlue;
    }
}