@import '../../styles/abstracts/_variables';
@import '../../styles/components/buttons.scss';



/* DEFAULT CSS */
* {
    font-size: $primaryFontSize;
}

.hide {
    display: none !important;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}