@import '../../styles/abstracts/_variables';
@import '../../styles/abstracts/_mixins';

.navigation {

    background-color: $primaryBlue;
    padding: 10px 80px;
    @include flex-box(flex, space-between, center);
    flex-wrap: wrap;
    position: relative;
    

    &__logo {

    
        & a {


            & img {

                width: 180px;

                @media only screen and (max-width: 900px) {
                    & {
                        width: 120px;
                    }
                }
            }
        }
        
    }

    &__links {
        flex-basis: 60%;
        @include flex-box(flex, space-between, center);


        &__list {
            list-style: none;
            &__item {

                display: inline-block;
                padding-bottom: 5px;


                &:not(:last-of-type) {

                    margin-right: 15px;
                }

                &--active {

                    border-bottom: 1px solid $primaryWhite;
                }

                & a {

                    color: $primaryWhite;
                }
            }
        }

        &__account {


            /* logged out menu styles */
            &__out {


                & .button--red {

                    margin-right: 20px;
                }
            }

            /* logged in menu styles */
            &__in {

                @include flex-box(flex, flex-start, center)


                &__icon {

                    color: $primaryWhite;
                    font-size: 19px;
                    display: inline-block;


                    &--alert {

                        position: relative;
                        margin: 0 30px;


                        & span {

                            background-color: $primaryRed;
                            position: absolute;
                            z-index: 10;
                            padding: 2px;
                            font-size: 8px;
                            padding: 3px;
                            line-height: 6px;
                            border-radius: 50%;
                            right: -8px;
                            top: -2px;
                            border: 2px solid $primaryBlue;
                        }
                    }
                }

                

                &__profile {

                    @include flex-box(flex, flex-start, center);
                    color: $primaryWhite;
                    position: relative;


                    &__thumb {

                        width: 35px;
                        height: 35px;
                        object-fit: cover;
                        border-radius: 50%;
                        margin-right: 2px;
                    }


                    & p {

                        margin-right: 5px;
                    }

                    &__arrow {

                        font-size: 12px;
                    }

                    &__dropdown {

                        position: absolute;
                        background-color: $primaryRed;
                        top: 100%;
                        margin: 0;
                        border-radius: 10px;
                        width: max-content;
                        right: 0;
                        padding: 0px;
                        display: none;


                        &::after {

                            content: "";
                            position: absolute;
                            border: 6px solid transparent;
                            top: -12px;
                            right: 8px;
                            border-bottom-color: $primaryRed;
                        }

                        
                        &__item {

                            transition: .3s;
                            background-color: $primaryRed;
                            display: flex;


                            &:last-of-type {
                                border-bottom-left-radius: 10px;
                                border-bottom-right-radius: 10px;
                            }

                            &:first-of-type {
                                border-top-left-radius: 10px;
                                border-top-right-radius: 10px;
                            }

                            &:not(:first-of-type) {
                             &:hover {
                                 background-color: lighten($primaryRed, 10%);
                             }   
                            }
                        

                            & p {
                                margin: 0;
                                padding: 10px 10px 5px 10px;
                                margin-bottom: 10px;
                                border-bottom: 1px solid $primaryWhite;
                            }

                            & a {
                                padding: 10px;
                                width: 100%;
                                color: $primaryWhite;        
                            }
                        }

                    }

                    &:hover > ul {
                        display: block;
                    }

                }

            }
        }

        @media only screen and (max-width: 900px) {
            & {
                display: none;
            }
        }
    }


    &__form {
        right: 0;
        left: 0;
        position: absolute;
        top: 100%;
        padding:0 80px;

        & form {
            margin: 0 auto;
            background-color: $primaryWhite;
            border-radius: 17px;
            display: flex;
            max-width: 100%;
            width: fit-content;
            background-color: #f3f3f4;


            & input, & button {
                border: none;
                padding: 15px;
                background-color: #f3f3f4;

                @media only screen and (max-width: 900px) {
                    & {
                        padding: 7px;
                    }
                }
            }

            & input {

                width: 30%;

                &:focus {
                    outline: none;
                }

                &:first-of-type {
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                }

                @media only screen and (max-width: 900px) {
                    &:not(:first-of-type) {
                        display: none;
                    }

                    &:first-of-type {
                        width: 100%;
                    }
                }
            }

            & button {
                border-top-right-radius: 15px;
                border-radius: 15px;
                background-color: $primaryRed;
                color: $primaryWhite;
                cursor: pointer;
                font-size: 19px;
            }


            @media only screen and (max-width: 900px) {
                & {
                    width: 100%;
                }
            }

        }


        @media only screen and (max-width: 900px) {
            & {
                position: relative;
                padding: 0;
                flex-basis: 50%;
            }
        }


    }


    @media only screen and (max-width: 900px) {
        & {
            padding: 5px 10px;
            background-color: $primaryWhite;
        }
    }

} 