//=========================================
// ================ COLORS ================
//=========================================

// ======== general colors ========
$primaryGreen: #22a47b;
$primaryPurple: #6767f4;
$primaryRed: #dd5757;
$primaryBlue: #22315b;
$primaryWhite: #fff;
$primaryYellow: #9b8424;
$primaryGrey: #f4f5f9;

// ======== text colors ========
$textBlue: $primaryBlue;
$textRed: $primaryRed;
$textWhite: $primaryWhite;
$textPrimary: #838384;

//=========================================
// ================ FONTS ================
//=========================================

// ======== sizes ========
$primaryFontSize: 16px;